<div class="card">
  <img
    src="<%=item.image_url %>"
    class="card-img-top"
    alt="<%=item.description %>"
  />
  <div class="card-body">
    <h5 class="card-title"><%=item.item_name %></h5>
    <p class="card-text"><%=item.description %></p>
  </div>
</div>
