<form class="create-form" action="/create" method="POST">
  <div class="form-group">
    <label for="item_name">Name:</label>
    <input
      class="form-control"
      type="text"
      id="item_name"
      name="item_name"
      required
    />
  </div>
  <div class="form-group">
    <label for="element_name">Element:</label>
    <select class="form-control" id="element_name" name="element_name" required>
      <% options.forEach(function(option) { %>
        <option value="<%= option %>"><%= option %></option>
      <% }); %>
    </select>
  </div>
  <div class="form-group">
    <label for="type">Weapon Type:</label>
    <select class="form-control" id="type" name="type" required>
      <% weaponType.forEach(function(weapon) { %>
        <option value="<%= weapon %>"><%= weapon %></option>
      <% }); %>
    </select>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="4"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="image_url">Image URL</label>
    <input
      class="form-control"
      type="text"
      id="image_url"
      name="image_url"
    />
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input
      class="form-control"
      type="number"
      id="price"
      name="price"
      min="0"
    />
  </div>
  <div class="form-group">
    <label for="stock">Stock</label>
    <input
      class="form-control"
      type="number"
      id="stock"
      name="stock"
      min="0"
    />
  </div>
  <div class="form-group">
    <label for="attribute">Attribute</label>
    <input
      class="form-control"
      type="text"
      id="attribute"
      name="attribute"
    />
  </div>
  <div class="form-group">
    <label for="value">Value</label>
    <input
      class="form-control"
      type="number"
      id="value"
      name="value"
    />
  </div>
  <div class="form-group">
  <label>Admin Password:</label>
    <input type="password" name="password" required />
  </div>
    <button type="submit">Create/Edit Item</button>
</form>