<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wizard Boutique</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="container d-flex justify-content-center position-relative">
        <a class="navbar-brand fs-1 fw-semibold text-white" href="/">
          Wizard Boutique
        </a>
        <!-- Toggle Button nur auf Handys -->
        <button
          class="btn btn-primary d-md-none position-absolute start-0 ms-2"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#mobileSidebar"
          aria-controls="mobileSidebar"
        >
          Menu
        </button>
        <a href="/create" class="position-absolute end-0">Create</a>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <!-- Offcanvas Sidebar -->
        <div
          class="offcanvas offcanvas-start d-md-none"
          tabindex="-1"
          id="mobileSidebar"
          aria-labelledby="mobileSidebarLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="mobileSidebarLabel">Categories</h5>
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="nav flex-column ul-tag ps-md-0">
              Element
              <li class="nav-item">
                <a class="nav-link text-black" href="/element/Fire">Fire</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black" href="/element/Water">Water</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black" href="/element/Earth">Earth</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black" href="/element/Air">Air</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black" href="/element/Holy">Holy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black" href="/element/Unholy">Unholy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black" href="/element/Chaos">Chaos</a>
              </li>
            </ul>
            <ul class="nav flex-column ul-tag ps-md-0">
              Weapon-Type
              <li class="nav-item">
                <a class="nav-link text-black" href="/weapon/Wand">Wands</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black" href="/weapon/Hat">Hats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black" href="/weapon/Robe">Robes</a>
              </li>
            </ul>
          </div>
        </div>

        <aside class="col-md-3 col-lg-2 d-none d-md-block sidebar text-white">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column ul-tag ps-md-3">
              Element
              <li class="nav-item">
                <a class="nav-link text-white" href="/element/Fire">Fire</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/element/Water">Water</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/element/Earth">Earth</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/element/Air">Air</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/element/Holy">Holy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/element/Unholy">Unholy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/element/Chaos">Chaos</a>
              </li>
            </ul>
            <ul class="nav flex-column ul-tag ps-md-3">
              Weapon-Type
              <li class="nav-item">
                <a class="nav-link text-white" href="/weapon/Wand">Wands</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/weapon/Hat">Hats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/weapon/Robe">Robes</a>
              </li>
            </ul>
          </div>
        </aside>
        <main class="col-md-9 col-lg-10 px-md-4 cardArea">
          <%- include(view) %>
        </main>
      </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>
      async function deleteItem(id) {
        const password = prompt("Enter admin password:");
        if (!password) return;

        const res = await fetch(`/delete/${id}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ password }),
        });

        if (res.ok) {
          window.location.href = "/";
        } else {
          alert("Wrong password");
        }
      }
    </script>
  </body>
</html>
