html,
body {
  height: 90vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}

.offcanvas {
  max-width: 75%;
}

.cardArea {
  height: 80%;
}
body .container-fluid {
  background: #eae4dc;
  height: 100%;
}

.ul-tag {
  padding-bottom: 2.1rem;
  font-size: 2rem;
  font-weight: 500;
}

.ul-tag li {
  font-size: 1.55rem;
  padding-top: 0.5rem;
}

.cardArea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 310px));
  gap: 1.5rem;
  justify-content: start;
  padding: 1rem;
  height: 100%;
  overflow: auto;
}

@media screen and (max-width: 680px) {
  .cardArea {
    justify-content: center;
  }
}

.card {
  border: 7px solid #5e462e;
  max-height: 580px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.card:hover {
  cursor: pointer;
}

.description-text {
  height: 110px;
}
.navbar,
.sidebar {
  background-color: #1f1f2e; /* Dunkles Blau/Grau oder was du willst */
  color: #ffffff; /* Textfarbe weiß */
}

.navbar {
  font-family: "Jacquard 12", system-ui;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  z-index: 1030;
}
.sidebar {
  height: 100%;
  font-family: "Jacquard 12", system-ui;
  font-size: 1.5rem;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.5);
}

.row {
  height: 100%;
}
.nav {
  color: rgb(160, 4, 4);
}

a:hover {
  color: rgb(160, 4, 4) !important;
}
